<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenRecognition.Desktop.Properties.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScreenRecognition.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenRecognition.Desktop.Properties.ProgramSettings>
            <setting name="OcrLanguages" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="TranslatorLanguage" serializeAs="String">
                <value>Russian</value>
            </setting>
            <setting name="OcrName" serializeAs="String">
                <value>TesseractOCR</value>
            </setting>
            <setting name="TranslatorName" serializeAs="String">
                <value>MyMemory</value>
            </setting>
            <setting name="TranslatorApiKey" serializeAs="String">
                <value>nothing</value>
            </setting>
            <setting name="ResultColor" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyEnabledStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyModifier" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="HotkeyKey" serializeAs="String">
                <value>KEY_Q</value>
            </setting>
            <setting name="T9EnableStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApiServerAddress" serializeAs="String">
                <value>http://45.138.157.71:5046/api/</value>
            </setting>
        </ScreenRecognition.Desktop.Properties.ProgramSettings>
        <ScreenRecognition.Desktop.Properties.Settings>
            <setting name="OcrLanguages" serializeAs="String">
                <value />
            </setting>
            <setting name="TranslatorLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="OcrName" serializeAs="String">
                <value />
            </setting>
            <setting name="TranslatorName" serializeAs="String">
                <value />
            </setting>
            <setting name="TranslatorApiKey" serializeAs="String">
                <value />
            </setting>
        </ScreenRecognition.Desktop.Properties.Settings>
    </userSettings>
</configuration>