USE [ScreenRecognition]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 25.01.2023 15:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 25.01.2023 15:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Screenshot] [varbinary](max) NULL,
	[SelectedOCRID] [int] NULL,
	[RecognizedText] [nvarchar](max) NULL,
	[RecognizedTextAccuracy] [float] NULL,
	[SelectedTranslatorID] [int] NULL,
	[InputLanguageID] [int] NULL,
	[OutputLanguageID] [int] NULL,
	[Translate] [nvarchar](max) NULL,
 CONSTRAINT [PK__History__74A9826EB3CD60E4] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 25.01.2023 15:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TranslatorAlias] [nvarchar](50) NULL,
	[OCRAlias] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OCR]    Script Date: 25.01.2023 15:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 25.01.2023 15:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 25.01.2023 15:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SelectedOCRID] [int] NULL,
	[SelectedTranslatorID] [int] NULL,
	[TranslatorApiKey] [nvarchar](max) NULL,
	[InputLanguageID] [int] NULL,
	[OutputLanguageID] [int] NULL,
	[ResultColor] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translator]    Script Date: 25.01.2023 15:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translator](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.01.2023 15:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[NickName] [nvarchar](100) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[CountryID] [int] NULL,
	[Birthday] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([ID], [Name]) VALUES (1, N'Russian Federation')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([ID], [Name], [TranslatorAlias], [OCRAlias]) VALUES (1, N'Russian', N'rus', N'rus')
INSERT [dbo].[Language] ([ID], [Name], [TranslatorAlias], [OCRAlias]) VALUES (2, N'English', N'eng', N'eng')
SET IDENTITY_INSERT [dbo].[Language] OFF
GO
SET IDENTITY_INSERT [dbo].[OCR] ON 

INSERT [dbo].[OCR] ([ID], [Name]) VALUES (1, N'TesseractOCR')
SET IDENTITY_INSERT [dbo].[OCR] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Settings] ([UserID], [Name], [SelectedOCRID], [SelectedTranslatorID], [TranslatorApiKey], [InputLanguageID], [OutputLanguageID], [ResultColor]) VALUES (3, N'default', 1, 1, N'b70fae420f93dbe21880', 2, 1, N'Blue')
INSERT [dbo].[Settings] ([UserID], [Name], [SelectedOCRID], [SelectedTranslatorID], [TranslatorApiKey], [InputLanguageID], [OutputLanguageID], [ResultColor]) VALUES (3, N'ffffirst', 1, 1, N'н45ц523123', 2, 1, N'AliceBlue')
GO
SET IDENTITY_INSERT [dbo].[Translator] ON 

INSERT [dbo].[Translator] ([ID], [Name]) VALUES (1, N'MyMemoryTextTranslator')
SET IDENTITY_INSERT [dbo].[Translator] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [RoleID], [Login], [Password], [NickName], [Email], [FirstName], [LastName], [CountryID], [Birthday]) VALUES (3, 1, N'123', N'123', N'Admin', N'admin@mail.ru', N'F0rs', N'Qw1n', 1, CAST(N'2000-04-05' AS Date))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK__History__InputLa__3B75D760] FOREIGN KEY([InputLanguageID])
REFERENCES [dbo].[Language] ([ID])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK__History__InputLa__3B75D760]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK__History__OutputL__3C69FB99] FOREIGN KEY([OutputLanguageID])
REFERENCES [dbo].[Language] ([ID])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK__History__OutputL__3C69FB99]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK__History__Selecte__398D8EEE] FOREIGN KEY([SelectedOCRID])
REFERENCES [dbo].[OCR] ([ID])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK__History__Selecte__398D8EEE]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK__History__Selecte__3A81B327] FOREIGN KEY([SelectedTranslatorID])
REFERENCES [dbo].[Translator] ([ID])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK__History__Selecte__3A81B327]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK__History__UserID__38996AB5] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK__History__UserID__38996AB5]
GO
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD FOREIGN KEY([InputLanguageID])
REFERENCES [dbo].[Language] ([ID])
GO
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD FOREIGN KEY([OutputLanguageID])
REFERENCES [dbo].[Language] ([ID])
GO
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD FOREIGN KEY([SelectedOCRID])
REFERENCES [dbo].[OCR] ([ID])
GO
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD FOREIGN KEY([SelectedTranslatorID])
REFERENCES [dbo].[Translator] ([ID])
GO
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
